<script type="text/javascript">
	$(function() {
		var uploader = new plupload.Uploader({
			runtimes : '<%= options[:runtimes] %>',
			browse_button : '<%= options[:button_id] %>',
			drop_element:'<%= options[:button_id] %>',
			container : '<%= options[:container] %>',
			max_file_size : '3mb',
			url : '<%= url_for(model_object) %>',
      multipart: true,
      multipart_params : 
      $.extend({
          <% if options[:params].count > 0 %>'<%= CGI::unescape(options[:params].to_param).split("=").join("':'").gsub("&", "', '") %>'<% end %>
        }, 
        {
          authenticity_token : $("input[name=authenticity_token]").val(), 
          "_method" : "<%= [model_object].flatten.pop.new_record? ? 'post' : 'put' %>", 
          "_plupload_upload" : "<%= options[:field_name] %>"
        }
      ),
      <% if options[:filters].count > 0 %>
        filters : <%= options[:filters].to_json.to_s.html_safe %>,
      <% else %>
			filters : [
				{title : "Image files", extensions : "jpg,gif,png"},
				{title : "Zip files", extensions : "zip"}
			],
      <% end %>
			flash_swf_url : '/assets/plupload-1.5.4/js/plupload.flash.swf',
			silverlight_xap_url : '/assets/plupload-1.5.4/js/plupload.silverlight.xap'
		});
	
		uploader.bind('Init', function(up, params) {
			
		});

		uploader.init();

		uploader.bind('FilesAdded', function(up, files) {
			$.each(files, function(i, file) {
				$('#work_pictures').prepend(
					'<li id="' + file.id + '"><label>image</label><span class="image">' +
					file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></span>' +
				'</li>');
			});
	
			up.refresh(); // Reposition Flash/Silverlight
			uploader.start();
		});
	
		uploader.bind('UploadProgress', function(up, file) {
			$('#' + file.id + " b").html(file.percent + "%");
		});
	
		uploader.bind('Error', function(up, err) {
			$('#work_pictures').prepend("<div>Error: " + err.code +
				", Message: " + err.message +
				(err.file ? ", File: " + err.file.name : "") +
				"</div>"
			);
	
			up.refresh(); // Reposition Flash/Silverlight
		});
	
		uploader.bind('FileUploaded', function(up, file, data) {
			$('#' + file.id + " b").html("100%");
			asset = $.parseJSON( data.response );

			var highest = 0;
			var number_pattern = /[0-9]+/i;
			$('#work_pictures input[type="text"]').each( function() {
				var field_number = parseInt( $(this).attr('id').match(number_pattern) );
	    	if ( field_number > highest ) highest = field_number;
			});
			highest++;

			var name_pattern = /[^0-9]+/i;
			if ( highest > 1 ) {
				var field_id = $('#work_pictures input[type="text"]:eq(0)').attr('id').match(name_pattern)  + highest + '_';
				var field_name = $('#work_pictures input[type="text"]:eq(0)').attr('name').match(name_pattern)  + highest + ']';
			} else {
				var field_id = 'work_asset_stacks_attributes_0_';
				var field_name = 'work[asset_stacks_attributes][0]';
			}
				
			// dodanie obrazka + input z nazwą
			$('#' + file.id + " span").html('<img src="'+asset.thumb+'" />');
			$('#' + file.id + " span").after('<a href="#" class="icon-remove remove_images"></a>'
  			+'<input type="text" id="'+field_id+'name" class="image_name" name="'+field_name+'[name]" value="'+asset.name+'" />'
  			+'<textarea rows="20" id="'+field_id+'desc" class="image_desc" name="'+field_name+'[desc]" value="Image description..." />'
  			);
  		
  		$('#' + file.id ).after(''
  		+'<input id="'+field_id+'asset_attributes_id" type="hidden" value="'+asset.asset_id+'" name="'+field_name+'[asset_attributes][id]">'
  		+'<input id="'+field_id+'id" type="hidden" value="'+asset.id+'" name="'+field_name+'[id]">'
  		+'<input id="'+field_id+'_destroy" type="hidden" value="false" name="'+field_name+'[_destroy]">');

		});
	});
	
</script>